html
  head
    title= Question
  body
    p= 'Category: ' + question.category
    p= 'Difficulty: ' + question.difficulty
    p= 'Questions: ' + question.question
    p= 'Correct Answer: ' + question.correct_answer
    p= 'Incorrect Answers: ' + question.incorrect_answers
    p
